.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 1263px}
.u-section-1 .u-btn-1 {margin: 20px auto 0}
.u-section-1 .u-image-1 {width: 890px; height: 1149px; margin: 8px auto 40px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 4716px}
.u-section-1 .u-image-1 {height: 1150px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 4264px}
.u-section-1 .u-image-1 {width: 720px; height: 930px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 5896px}
.u-section-1 .u-image-1 {width: 540px; height: 698px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 3202px}
.u-section-1 .u-image-1 {width: 340px; height: 439px} }